click==8.0.3
colorama==0.4.4
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
passlib==1.7.4
SQLAlchemy==1.4.29
Werkzeug==2.0.2
WTForms==3.0.1
pandas==1.1.5
SharePlum==0.5.1
openpyxl==3.0.5
mysqlclient==2.0.3
numpy==1.16.2
uWSGI==2.0.20