
<html>
	<head>
		<link rel="icon" type="image/png" href="static/favicon.png">
		<title>mysql-via-pandas example</title>
		<LINK rel="stylesheet" type="text/css" href="static/style.css" />
		<style>
			.bannerlinks {float: right;}
			.content {margin-top: 1px;}
			.heading {margin:auto; width: 50%; text-align: center;}
		</style>
	</head>
	
	
	<body>
		<hr/>
		
		<div class="banner">
			<div class="bannerlinks">
				<a href="/">Functions</a> | <a href="/logout">Log Out</a>
					
			</div>
			<div class="heading">
				<img class="logo" src="static/logo.png" style="width:100px;height:100px"/>
				<h2 style="">mysql-via-pandas example</h2>
			</div>
		</div>
		<div class="content">
			<hr/>
			{% block content %}{% endblock %}
		</div>
		
	</body>
	
</html>
